@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');


.App {
  text-align: center;
}

body {
  background-color: hsl(217, 54%, 11%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: auto;
  font-family: 'Outfit', sans-serif;
}

@media screen and (min-width: 768px) {
  body {
    height: 100vh;
  }
  
}